@model Registro_Actividad.Models.Persona

﻿@{
    ViewData["Title"] = "Registrar persona";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Create" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    @* cedula *@
    <div class="mb-3">
        <label asp-for="Cedula" class="form-label"></label>
        <input asp-for="Cedula" class="form-control" placeholder="sin espacios, ej: 102340567" />
        <span asp-validation-for="Cedula" class="text-danger"></span>
    </div>

    @* nombre *@
    <div class="mb-3">
        <label asp-for="Nombre" class="form-label"></label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    @* apellidos *@
    <div class="mb-3">
        <label asp-for="Apellidos" class="form-label"></label>
        <input asp-for="Apellidos" class="form-control" />
        <span asp-validation-for="Apellidos" class="text-danger"></span>
    </div>

    @* edad *@
    <div class="mb-3">
        <label asp-for="Edad" class="form-label"></label>
        <input asp-for="Edad" class="form-control" />
        <span asp-validation-for="Edad" class="text-danger"></span>
    </div>

    @* telefono *@
    <div class="mb-3">
        <label asp-for="Telefono" class="form-label"></label>
        <input asp-for="Telefono" class="form-control" placeholder="sin espacios, ej: 12345678" />
        <span asp-validation-for="Telefono" class="text-danger"></span>
    </div>

    @* email *@
    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Registrar</button>

    <a class="btn btn-secondary" asp-action="Index">Volver</a>
</form>